/* Reset some default styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
code,
em,
img,
small,
strong,
sub,
sup,
ol,
ul,
li,
fieldset,
form,
label,
legend,
button,
input,
select,
textarea,
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Set font size to 100% and line height to 1 for better cross-browser consistency */
html {
  font-size: 100%;
  line-height: 1;
}

/* Remove default styling for lists */
ol, ul {
  list-style: none;
}

/* Make images and other embedded content responsive */
img,
embed,
object,
video {
  max-width: 100%;
}

/* Ensure block elements don't have any additional margins */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* Set text-decoration to none by default for links */
a {
  text-decoration: none;
}

/* Remove the default border-radius for input elements */
input,
select,
textarea,
button {
  border-radius: 0;
}

/* Ensure form elements don't have any additional padding or margin */
button,
input,
select,
textarea {
  margin: 0;
}

/* Ensure that form elements have a consistent box-sizing */
button,
input,
select,
textarea {
  box-sizing: border-box;
}

/* Use a consistent box-sizing for all elements */
* {
  box-sizing: border-box;
}
