$primary-color: #fff;
$green : #296D76;
$teal : #056a7b;
$dark-teal : #002334;
$light-green:rgba(41, 109, 118, 0.2);
$yellow : #ffd200;
$yellow-highlight : #ffe96b;
$orange : #f58232;
$organge-highlight : #f9a868;
$red : #b9283f;
$red-highlight : #ca5852;
$gold : #FF7B01;
$light-gold: #FFC187;
$bright-green : #87D48F;
$light-grey : #757575;
 

body {
  background-color: $primary-color;
}

.cohort-builder-app{
  // Progress Bar
  &-progress-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    overflow: hidden;
  }
  &-progress-bar-wrapper{
    display: flex;
    font-size: 20px;
    font-weight: 400;
    color: $light-grey;
    flex-direction: row;
    position: relative;
  }


  &-progress-bar_bar{
    background-color:$light-grey;
    position: absolute;
    top: 15px;
    left: 0;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    z-index: -1;
    transition: 400ms ease;
  }

  &-progress-bar_bar:after{
    content:'';
    position: absolute;
    width:0%;
    background-color: $green;
    height:2px;
  }


  &-progress-bar_step{
    display: flex;
    flex-direction: column;
    padding : 0 30px;
    &:last-child{
      .cohort-builder-app-progress-bar_bar{
        display: none;
      }
    }
  }
  &-progress-bar_step.active{
    color: #000;
    .cohort-builder-app-circle{
      background-color: $bright-green;
      color: #fff;
      border: 1px solid transparent;
    }
  }
  &-progress-bar_step-number{
    text-align: center;
    position: relative;
    &.filled{
      .cohort-builder-app-progress-bar_bar,.cohort-builder-app-progress-bar_bar--left{
        background-color: $bright-green;
      }
    }
    &.fill-left{
      .cohort-builder-app-progress-bar_bar--left{
        background-color: $bright-green;
      }
    }
  }
  &-progress-bar_step-title{
    text-align: center;
  }
  &-circle{
    margin: 0 auto;
    color : #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $light-grey;
    color: $light-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &-circle.completed{
    background-color: $bright-green;
    color: #fff;
    border: none;
  }

  
}

// Buttons
.btn-container{
  display: flex;
  justify-content: space-between;
}
.btn-back{
  background-color: $green !important;
  opacity: 1 !important;
  background-image: none !important;
  color : #fff !important;
  font-size:24px;
  border:none;
  border-radius:0 5px 0;
  min-width: 200px;
  padding: 10px 15px;
}
.btn-next{
  background:linear-gradient(90deg, #FFE2A9 0%, rgba(255, 189, 62, 0.84) 29.69%, #FFBD3E 57.29%, #FF7A00 100%);
  color:#000;
  font-size:24px;
  border: none;
  border-radius:0 5px 0;
  min-width: 200px;
  padding: 10px 15px;
}
.btn--text{
  display: block;
  border : none;
  background-color: transparent;
  color : $gold;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.required-text{
  color: $green;
  margin: 20px 0 10px;
  font-weight: 700;
}

.btn--icon{
 border: none;
 background-color:transparent;
 opacity: 1;
 &:disabled{
  opacity: 0;
 } 
}

.case-requirements{
  padding: 20px 0;
}

.clinical-requirements-section{
  padding: 20px 0;
  .multi-select-dropdown{
    padding: 20px 0 0;
    width: 60%;
  }
}

.table-container {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 10px 0;
}
.table-row:first-child{
  padding: 5px 0;
}

.cell {
  flex: 1;
  padding: 0 20px 0;
}
.cell:first-child{
  padding-left: 0;
}
.cell:last-child{
  input:disabled{
    background-color: $yellow-highlight;
  }
}

.header {
  font-weight: bold;
}

.header .cell:nth-last-child(1){
  flex-grow:0;
}

// Form
.table-row .cohort-builder-app-input, .table-row input[type="number"]{
  width:100%;
  padding: 11px 15px;
  border-radius: 0 5px 0;
  border: 1px solid $green;
}
.table-row input:disabled, .table-row .cohort-builder-app-select:disabled{
  background-color :#D9D9D9;
} 
.table-row input[type="number"]::placeholder{
  text-align : left;
}
.table-row .btn--icon{
  padding: 15px 10px 0 0;
}
table{
  width:100%;
}
tr {
  display: flex;
  justify-content: space-between;
}
.cohort-builder-app-select{
    border: 1px solid $green;
    background: rgba(217, 217, 217, 0.00);
    padding: 12px 13px 13px;
    width: 100%;
    border-radius: 0 5px 0;
}
.cohort-builder-app-input-number{
  text-align:center;
}
textarea{
  width: 80%;
  border-color: $green;
  min-height: 90px;
}
.cohort-builder-app-input-textarea{
  border-color: $green;
  border-radius: 0 5px 0;
}
.field-title{
  color : $gold;
  font-size: 16px;
  font-weight: 700;
}

.field-set-title{
  color : $light-gold;
  font-size:32px;
  font-weight: 700;
}

.field--required{
  color: $green;
}

.field-border{
  border-left: 1px solid $light-gold;
  padding-left: 20px;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.tooltip{
  background: $light-green;
  border: 1px solid $green;
  padding: 10px;
  display: none;
  p { 
    margin : 15px 0;
  }
}
.tooltip.show{
  opacity: 1 !important;
  display: block;
}

/* Styles for the question mark circle */
.tooltip-icon {
  display: inline-block;
  color: $green; /* Text color */
  border-radius: 50%; /* Make it a circle */
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  font-size: 16px;
  border: 1px solid $green;
}
/* RadioButtonField.css */

.radio-button-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radio-options {
  display: flex;
  flex-direction: row; /* Set to 'row' for horizontal layout */
  gap: 10px; /* Adjust spacing between options */
  label{
    margin :0;
    font-weight: 400;
  }
}

.radio-option {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.radio-option:first-child{
  padding:0;
}

input[type="radio"] {
  margin-right: 8px; /* Adjust spacing between radio button and label */
  margin-top:0 !important;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $green;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

/* RangeSliderField.css */

.range-slider-field {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px 0 0;
  p{
    padding: 30px 0;
  }
}

.range-slider-track {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: $green;
  margin-top: 20px;
  cursor: pointer;
}

.range-slider-notch {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #D9D9D9;
  border: 1px solid $gold;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.range-slider-notch-left {
  left: 0;
}

.range-slider-notch-right {
  left: 100%;
  transform: translate(-100%, -50%);
}

.range-slider-mark {
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: #333;
  bottom: -15px;
}

.range-slider-number {
  position: absolute;
  bottom: -25px;
  transform: translateY(5px);
  font-size: 10px;
  margin-left: -5px;
}

/* CheckboxWithTooltip.css */

.checkbox-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:60%;
}

.checkbox-item {
  margin-bottom: 10px;
  padding:0 15px 15px 0;
  display: flex;
  align-items: center;
}

.checkbox-item input[type="checkbox"] {
  margin-right: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip-text {
  visibility: hidden;
  width: 160px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Styles for the checkboxes */
.checkbox-item input[type="checkbox"] {
  background-color: #d9d9d9; /* Default background color */
  border: 1px solid #ccc; /* Default border color */
  border-radius: 5px; /* Border-radius */
  padding: 5px; /* Padding */
}

.checkbox-item input[type="checkbox"]:checked {
  accent-color: $green;
}

/* MultiSelectField.css */

.multi-select-dropdown {
  position: relative;
  width: 100%;
}
.multi-select-dropdown.disabled{
  background-color: #D9D9D9;
  .selected-values{
    opacity: 0.7;
  }
}

.selected-values {
  border-radius: 0 5px 0;
  border: 1px solid $teal;
  padding: 12px 15px 10px;
  min-height: 50px;
  cursor: pointer;
  opacity: 1;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  overflow: auto;
  max-height: 200px;
  z-index: 5;
}

.options div {
  display: flex;
  align-items: center;
  // padding: 8px;
  cursor: pointer;
}

.options div:hover {
  background-color: #f2f2f2;
  color :#000;
}

.options .selected{
  background-color : $teal;
  color : #fff;
}

.options .selected:hover{
  background-color:$light-green;
}

.cohort-builder-app-cohort{
  padding:50px 0;
}

// Step Components
.step-title{
  background-color : $green;
  color : #fff;
  font-size: 24px;
  text-align: center;
  padding : 10px 0;
}
.cohort-builder-app-submit{
  .title{
    display: flex;
    justify-content: space-between;
  }
}
.cohort-builder-app-print-btn{
  background: none;
  border: 1px solid $green;
  font-size: 12px;
  color: #000;
  text-decoration: underline;
}
// Request Summary
.title{
  color : $gold;
}
.margin-left{
  margin-left:93px;
}
.request-summary{
  display: flex;
}

.request-summary-box{
  padding: 20px;
  width: 100%;
  display: flex;
  border: 1px solid $green;
  color : #000;
  font-weight: 700;
  font-size: 12px;
  max-height: 400px;
  overflow-y: scroll;
}

.section{
  width: 25%;
}
.section:nth-child(2){
  width:50%;
}

.section-title{
  text-decoration: underline;
  font-size: inherit;
  color: inherit;
  font-weight: 700;
}

.cohort-summary{
  p{
    font-weight: 700;
    margin: 0;
  }
  ul{
    font-weight: 400;
  }
}
.cohort-builder-app-clinical-req{
  p{
    margin-bottom: 10px;
  }
}
.isMatched{
  color: $gold;
}
.cohort-builder-app-summary{
  display: flex;
  justify-content: space-between;
}
// contact-information
.contact-information{
  width: 50%;
  padding: 30px 0;
  p{
    color : #000;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 10px;
  }
}
.cohort-builder-app{
  &-row{
    display: flex;
  }
  &-contact-message{
    width: 100%;
    margin : 0 10px 0 0;
    padding : 10px 15px;
  }
}
.input-field{
  display: flex;
  flex : 1;
  flex-direction: column;
  min-width: 0;
  padding: 0px 10px 10px 0;
  input, select{
    width:100%;
    padding: 5px 15px;
  }
  &.error{
    input, select{
      border:1px solid red;
    }
  }
}

.error{
  color: red;
}


.contact-information-summary{
  display: flex;
  justify-content: space-between;
  .section{
    width:50%;
  }
}

.submission-response{
  margin-top: 50px;
  font-weight: 700;
  text-align: center;
  width: 30%;
}
@media print {
  /* All your print styles go here */
  header,
  footer,
  nav {
    display: none !important;
  }

  .request-summary-box{
    max-height: none;
  }
}
